CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
FASTAPI_BASE_URL=http://127.0.0.1:8000
COLLECT_SITES_DEFAULT=habr

LLM_PROVIDER=gemini

OPENAI_API_KEY=
OPENAI_MODEL=gpt-5.2

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

TELEGRAM_CHANNEL=https://t.me/link

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_NAME=telegram_publisher
