# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Env
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Celery
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Redis / data
data/
*.jsonl

# Telegram sessions
*.session
*.session-journal

# Build
dist/
build/
*.egg-info/